<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.email.dao.IGroupsDao" >
  <resultMap id="BaseResultMap" type="com.amayadream.email.pojo.Groups" >
    <id column="GID" property="gid" />
    <result column="USERID" property="userid" />
    <result column="GNAME" property="gname" />
  </resultMap>

  <sql id="Base_Column_List" >
    GID, USERID, GNAME
  </sql>

  <select id="selectAllGroups" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT <include refid="Base_Column_List" /> FROM
    (
    SELECT A.*,ROWNUM RN
    FROM (
    SELECT * FROM GROUPS
    WHERE USERID = #{userid}
    ORDER BY GID DESC
    ) A
    )
    WHERE RN BETWEEN #{startRow} AND #{endRow}
  </select>

  <select id="selectGroupsByGid" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT <include refid="Base_Column_List" />
    FROM GROUPS
    WHERE GID = #{gid}
    AND USERID = #{userid}
  </select>

  <select id="selectGroupsByGname" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT <include refid="Base_Column_List" />
    FROM GROUPS
    WHERE GNAME = #{gname}
    AND USERID = #{userid}
  </select>

  <select id="countGroups" resultMap="BaseResultMap" parameterType="int">
    SELECT COUNT(GID) GID FROM GROUPS WHERE USERID = #{userid}
  </select>

  <insert id="insertGroups" parameterType="java.util.Map" >
    INSERT INTO GROUPS (GID, USERID, GNAME) VALUES (SEQ_GROUPS_GID.NEXTVAL, #{userid}, #{gname})
  </insert>

  <update id="updateGroups" parameterType="java.util.Map">
    UPDATE GROUPS
    SET GNAME = #{gname}
    WHERE GID = #{gid} AND USERID = #{userid}
  </update>

  <delete id="deleteGroups" parameterType="java.util.Map" >
    DELETE FROM GROUPS
    WHERE GID = #{gid} AND USERID = #{userid}
  </delete>

  <delete id="deleteAllGroups" parameterType="int" >
    DELETE FROM GROUPS
    WHERE USERID = #{userid}
  </delete>

</mapper>