<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.email.dao.ISettingDao" >
  <resultMap id="BaseResultMap" type="com.amayadream.email.pojo.Setting" >
    <id column="SID" property="sid" />
    <result column="USERID" property="userid"/>
    <result column="SENDMAIL" property="sendmail" />
    <result column="SENDNAME" property="sendname" />
    <result column="SENDPASS" property="sendpass" />
    <result column="SMTPSERVER" property="smtpserver" />
    <result column="SMTPPORT" property="smtpport" />
    <result column="ISSET" property="isset" />
  </resultMap>

  <sql id="Base_Column_List" >
    SID, USERID, SENDMAIL, SENDNAME, SENDPASS, SMTPSERVER, SMTPPORT, ISSET
  </sql>

  <select id="selectSettingByUserid" resultMap="BaseResultMap" parameterType="int">
    SELECT <include refid="Base_Column_List"/>
    FROM SETTING
    WHERE USERID = #{userid}
  </select>

  <insert id="indexSetting" parameterType="java.util.Map" >
    INSERT INTO SETTING (SENDMAIL, ISSET)
    VALUES (#{sendmail}, #{isset})
    WHERE USERID = #{userid}
  </insert>

  <update id="updateIsset" parameterType="java.util.Map">
    UPDATE SETTING
    SET ISSET = #{isset}
    WHERE USERID = #{userid}
  </update>

  <update id="updateSetting" parameterType="java.util.Map">
    UPDATE SETTING
    SET SENDMAIL = #{sendmail}, SENDNAME = #{sendname}, SENDPASS = #{sendpass}, SMTPSERVER = #{smtpserver}, SMTPPORT = #{smtpport}
    WHERE USERID = #{userid}
  </update>

  <delete id="deleteSetting" parameterType="int" >
    DELETE FROM SETTING
    WHERE USERID = #{userid}
  </delete>

</mapper>