<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.emailsystem.dao.IGroupDao" >
  <resultMap id="BaseResultMap" type="com.amayadream.emailsystem.pojo.Group" >
    <id column="GID" property="gid" />
    <result column="USERID" property="userid" />
    <result column="GROUPNAME" property="groupname" />
  </resultMap>

  <sql id="Base_Column_List" >
    GID, USERID, GROUPNAME
  </sql>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT * FROM
      (
        SELECT A.*,ROWNUM RN
        FROM (
          SELECT DISTINCT A.*, (SELECT COUNT(*) FROM CONTACT WHERE GROUPID = A.GID) COUNT
          FROM GROUPS A JOIN CONTACT B ON A.USERID = B.USERID
          WHERE A.USERID = #{userid}
          ORDER BY A.GID DESC
        ) A
      )
    WHERE RN BETWEEN #{startRow} AND #{endRow}
  </select>

  <select id="selectGroupById" resultMap="BaseResultMap" parameterType="com.amayadream.emailsystem.pojo.Group" >
    SELECT <include refid="Base_Column_List" />
    FROM GROUPS
    WHERE GID = #{gid}
    AND USERID = #{userid}
  </select>

  <select id="selectGroupByName" resultMap="BaseResultMap" parameterType="com.amayadream.emailsystem.pojo.Group" >
    SELECT <include refid="Base_Column_List" />
    FROM GROUPS
    WHERE GROUPNAME = #{groupname}
    AND USERID = #{userid}
  </select>

  <select id="count" resultMap="BaseResultMap" parameterType="string">
    SELECT COUNT(GID) GID FROM GROUPS WHERE USERID = #{userid}
  </select>

  <insert id="insert" parameterType="com.amayadream.emailsystem.pojo.Group" >
    INSERT INTO GROUPS (GID, USERID, GROUPNAME)
    VALUES (sys_guid(), #{userid}, #{groupname})
  </insert>

  <update id="update" parameterType="com.amayadream.emailsystem.pojo.Group">
    UPDATE GROUPS
    SET GROUPNAME = #{groupname}
    WHERE GID = #{gid} AND USERID = #{userid}
  </update>

  <delete id="delete" parameterType="com.amayadream.emailsystem.pojo.Group" >
    DELETE FROM GROUPS
    WHERE GID = #{gid} AND USERID = #{userid}
  </delete>

  <delete id="deleteAllGroup" parameterType="string" >
    DELETE FROM GROUPS
    WHERE USERID = #{userid}
  </delete>

</mapper>